<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>System magazynowy</title>
<link rel="icon" type="image/png" href="favicon.png"/>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
  <div class="hero bg-primary">
    <div class="hero-body">
      <h1 style="text-align: center;">System do zarządzania stanami magazynowymi</h1>
      <p style="text-align: center;">Umożliwia przegląd salda, stanu magazynowego oraz zarządzanie sprzedażą i zakupem w przedsiębiorstwie</p>
    </div>
  </div>
  <!-- wybór zakupu / sprzedaży -->
<br><br>
<div class="container">
  <div class="columns">
    <div class="column col-lg-auto col-6">
<p>
<span class="label label-rounded label-primary">Kup lub sprzedaj produkt</span>
        <div class="form-group">
              <div class="col-6 col-sm-12">
        <select class="form-select">
          <option>Wybierz działanie</option>
          <option>Zakup</option>
          <option>Sprzedaż</option>
        </select>
        <label class="form-label" for="input-example-1">Nazwa</label>
<input class="form-input" type="text" id="input-example-1" placeholder="Nazwa produktu">
<label class="form-label" for="input-example-1">Cena</label>
<input class="form-input" type="number" id="input-example-1" placeholder="Cena produktu">
<label class="form-label" for="input-example-1">Liczba sztuk</label>
<input class="form-input" type="number" id="input-example-1" placeholder="Liczba zakupionych sztuk produktu">
      </div>
</div>
<a href="https://google.com" class="button"><button class="btn">Wykonaj</button></a>
</p>
<br><br>
<form method="POST" action="saldo" >{% csrf_token %}
  <span class="label label-rounded label-primary">Zmień saldo firmy</span>
  <div class="form-group">
    <div class="col-6 col-sm-12">
    <label class="form-label" for="input-example-3">Komentarz</label>
    <textarea class="form-input" name="Komentarz" id="input-example-3" placeholder="Komentarz do zmiany salda firmy" rows="3"></textarea>
    <label class="form-label" for="input-example-1">Zmiana salda</label>
    <input class="form-input" name="zmiana" type="number" id="input-example-1" placeholder="Zmiana salda firmy">
  </div>
  </div>
<button class="btn" type="submit">Wykonaj</button>
</form>
</div>



<div class="column col-lg-auto col-6">
     <p>
       <span class="label label-rounded label-primary">Stan salda firmy</span>

     </p>
     <p>
        <span class="label label-primary">{{saldo}} zł</span>
        <br><br>
        <a href="https://google.com" class="button"><button class="btn">Odśwież</button></a>

     </p>
<br><br>
     <p>
       <span class="label label-rounded label-primary">Stan magazynowy firmy</span>
     </p>
      <p>
        <ul><li>Mac: 1</li><li>Raspberry: 2</li></ul>
        <a href="https://google.com" class="button"><button class="btn">Odśwież</button></a>
      </p>
     </div>
</div>
</div>

</body>
</html>

<!--
# {% if latest_question_list %}
#     <ul>
#     {% for question in latest_question_list %}
#         <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
#     {% endfor %}
#     </ul>
# {% else %}
#     <p>No polls are available.</p>
# {% endif %} -->
