<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>System magazynowy</title>
<link rel="icon" type="image/png" href="favicon.png"/>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
  <div class="hero bg-primary">
    <div class="hero-body">
      <h1 style="text-align: center;">System do zarządzania stanami magazynowymi</h1>
      <p style="text-align: center;">Umożliwia przegląd salda, stanu magazynowego oraz zarządzanie sprzedażą i zakupem w przedsiębiorstwie</p>
    </div>
  </div>
  <!-- wybór zakupu / sprzedaży -->
<br><br>
<div class="container">
  <div class="columns">
    <div class="column col-lg-auto col-6">
<p>
<span class="label label-rounded label-primary">Kup lub sprzedaj produkt</span>
  <form method="POST" action="hub" >{% csrf_token %}
        <div class="form-group">
              <div class="col-6 col-sm-12">
        <select name="wybor" class="form-select">
          <option>Wybierz działanie</option>
          <option value="zakup">Zakup</option>
          <option value="sprzedaz">Sprzedaż</option>
        </select>
        <label class="form-label" for="input-example-1">Nazwa</label>
<input class="form-input" name="nazwa" type="text" id="input-example-1" placeholder="Nazwa produktu">
<label class="form-label" for="input-example-1">Cena</label>
<input class="form-input" name="cena" type="number" id="input-example-1" placeholder="Cena produktu">
<label class="form-label" for="input-example-1">Liczba sztuk</label>
<input class="form-input" type="number" name="sztuki" id="input-example-1" placeholder="Liczba zakupionych sztuk produktu">
      </div>
</div>
<button class="btn" type="submit">Wykonaj</button>
</form>
</p>
<br><br>
<form method="POST" action="saldo" >{% csrf_token %}
  <span class="label label-rounded label-primary">Zmień saldo firmy</span>
  <div class="form-group">
    <div class="col-6 col-sm-12">
    <label class="form-label" for="input-example-3">Komentarz</label>
    <textarea class="form-input" name="Komentarz" id="input-example-3" placeholder="Komentarz do zmiany salda firmy" rows="3"></textarea>
    <label class="form-label" for="input-example-1">Zmiana salda</label>
    <input class="form-input" name="zmiana" type="number" id="input-example-1" placeholder="Zmiana salda firmy">
  </div>
  </div>
<button class="btn" type="submit">Wykonaj</button>
</form>
</div>



<div class="column col-lg-auto col-6">
     <p>
       <span class="label label-rounded label-primary">Stan salda firmy</span>

     </p>
     <p>
        <span class="label label-primary">{{saldo}} zł</span>
        <br><br>
        <a href="/manager/review" class="button"><button class="btn">Wyświetl przegląd</button></a>

     </p>
<br><br>
     <p>
       <span class="label label-rounded label-primary">Stan magazynowy firmy</span>
     </p>
      <p>
      {% if magazyn %}
        <ul>
          {% for item in magazyn %}
            <li>{{ item.name }} : {{ item.qty }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Brak produktów w magazynie.</p>
      {% endif %}
      <a href="/manager/review" class="button"><button class="btn">Wyświetl przegląd</button></a>
      </p>
      <br><br><br>
      <p style="color: red;font-size:36px"><b>{{error}}</b></p>
     </div>
</div>
</div>

</body>
</html>
